 *{margin: 0;
padding: 0;}
 .navbar{ 
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-top:none;
    top: 0;
    height:80px;
    box-shadow: 0 0 4px black;
    overflow: hidden; 
    background: white;
}
.navbar img{
    width: 100px;
    height: 80px;
    
}


.nav-links{
    display: inline-block;
   padding-top: 20px;
    margin-right: 15%;
    text-align: center;
    text-transform: capitalize;
}
.nav-links li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.nav-links li:hover{
    color: red;
    
}
.social{
    display: inline-block;
    padding: 20px;
    
    text-align: center;
    margin-right: 20px;
}
.social-links i{
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.social-links i:hover{
    color: red;
}
.social-links span{
    padding-left: 10px;
}
.social-links a{
    display: inline-block;

    padding: 10px;
    color: white;
    background: black;
    text-decoration: none;
    transition: 0.5s;
}
.social-links a:hover{
    background: red;
}
.info{
    margin-left:20%;
    margin-top: 10%;
text-transform: capitalize;
}
.info h1 span{
    color: gold;
}
.info p{
    color:  gray;
    font-size: 12px;
}
.info-iner{
    text-align: left;
    padding-top: 10px;
    display: flex;

}
.info-iner h6{
    padding: 10px;

}
.info-iner h6 p{
    font-size: 10px;
}

.info-link {
display: flex;
 left: 0%}
.right,.left{
    margin: 8px;
   
    padding: 5px;
}
.right{
    background:gold;
    width: 80px;
    text-align: center;
    padding: 10px;
}
.left{
    background:black ;
    width: 80px;
    text-align: center;
    padding: 10px;
}
.right a,.left a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 12px;
}
.right:hover,.left:hover{
    background: gray;
}
.img{
    width:45%;
    height: 60%;
    display: inline-block;
    right:50px;
  
    position: absolute;
    bottom:100px;
    text-align: center;

}
.img img{
    width: 80%;
    height: 80%;
}
.info-bottom{
    width: 60%;
    margin-top:10%;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    transition: 0.5s;
    
 
    text-align: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}
.card:hover{
    transform: translateY(5px);
}
.card i{
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
}
.card h4{
    padding-left: 15px;
    font-size: 15px;
    margin-right: 20px;
}
.main2{
    width:90%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    padding: 20px;
    margin-left: 20px;
}
.main2-img{
    display: block;
    width: 40%;
    }
.main2-img img{
    width: 100%
}
.main2-txt{
    position: relative;
  
    text-align: center;
    margin-top: 50px;
}
.main2-txt h1{
    text-transform: capitalize;
    font-weight: 600;
    text-align: left;
}
.main2-txt p{
    font-size: 12px;
    color: gray;
    overflow: hidden;
    text-align: left;
    padding-top: 10px;
    display: inline-block;
}
.main2-txt h6{
    font-size: 15px;
    text-align: left;
    padding-top: 12px;
}
.botom{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
}
.bleft{
    position: relative;
    margin-left: 10%;
    bottom: 50px;

}
.bleft h1{
    text-transform: capitalize;
    font-weight: 650;
}
.bleft p{
    font-size: 15px;
    color: gray;
    display: inline-block;
    
}
.bright{
   
    margin-right: 10%;
    text-align: center;
    
    
}
.bright-row{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    position: relative;
    width: 100%;
  
}
.bright-row .one{
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
    box-shadow:0 0 5px black;
  
    width: 150px;
    height: 120px;
    text-align: center;
    
}
.one .onein{
    padding-top: 30px;
   
}
.onein img{
    width: 60px;
    border-radius: 50%;
}
.two{
    display: inline-block;
    position: relative;
    box-shadow: 0 0 5px black;
    width: 150px;
    height: 120px;
    text-align: center;
    margin-top: 20px;
}
.two .onein{
    padding-top: 30px;
   
}
.poll{
    display: block;
margin-top: 30px;
}
.poll ul li{
    list-style: none;
   
}
.poll .load{
    width: 80%;
    height: 4px;
    background-color: wheat;
    border: 1px solid transparent;
    border-radius: 13px;
}
.fill1{
    width:80%;
    height: 4px;
    background-color: green;
    animation: loader 2s linear ;
}
.fill2{
    width: 90%;
    height: 4px;
  
    background-color: green;
    animation: loader 2s linear ;
}
.fill3{
    width: 50%;
    height: 4px;
    background-color: green;
    animation: loader 2s linear ;
}
.nav-links .dropdown{
    padding-left: 5px;
    font-size: 11px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:grey;
    min-width:180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
    .dropdown-content a:hover{
        background-color: #ddd;}

.dropbtn:hover .dropdown-content{
    display: block;
}
@keyframes loader{
    10%{
        width: 10%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }

}
.percentage{
    font-size: 12px;
    font-weight: 700;
    color:black;
    float: right;
  margin-top: 3px;
  margin-right: 90px;
}